* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

#draggable {
  width: 100px;
  height: 100px;
  background-color: blue;
}

#wrapper {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  position: relative;
}


#top-drawer {
  width: 100%;
  height: 150px;
  background-color: blue;
}


/*
For Drawerify
*/
#drawer-handle {
   width: 50px;
   margin: 0 auto;
 }
 
 #drawer-handle i {
   font-size: 35px;
   opacity: .4;
 }
 
 #drawer-handle i:hover {
   -webkit-filter: invert(20%);
 }