<!doctype html>
<html>
<head>
    <title>Testing</title>

    <link rel="stylesheet" type="text/css" media="screen" href="css/testing.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/vis.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/jquery-ui.css" />

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/vis.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/inflection.js"></script>
    <script type="text/javascript" src="js/deepcopy.js"></script>
    <script type="text/javascript" src="js/socket-io.js"></script>
    <script type="text/javascript" src="js/ebot.js"></script>
    <script type="text/javascript" src="node_modules/howler/howler.js"></script>
	<script type="text/javascript" src="js/testing.js"></script>

</head>
<body>

<table id='' class='table-condensed'>

	<tr>
		<th>Get All</th>
		<th>Post</th>
		<th>Get One</th>
		<th>Put</th>
		<th>Delete</th>
		<th>_id</th>
	</tr>

	<tr>
		<td><button id='test-log-entries' class='btn btn-md'>Test Log Entries</button></td>
		<td><button id='test-create-log-entry' class='btn btn-md'>Test Create Log Entry</button></td>
		<td><button id='test-get-log-entry' class='btn btn-md'>Test Get Log Entry</button></td>
		<td><button id='test-put-log-entry' class='btn btn-md'>Test Put Log Entry</button></td>
		<td><button id='test-delete-log-entry' class='btn btn-md'>Test Delete Log Entry</button></td>
		<td><div id='log-entry-id'></div></td>
	</tr>

	<tr>
	  <td><button id='test-creatures' class='btn btn-md'>Test Creatures</button></td>
	  <td><button id='test-create-creature' class='btn btn-md'>Test Create Creature</button></td>
	  <td><button id='test-get-creature' class='btn btn-md'>Test Get Creature</button></td>
	  <td><button id='test-put-creature' class='btn btn-md'>Test Put Creature</button></td>
	  <td><button id='test-delete-creature' class='btn btn-md'>Test Delete Creature</button></td>
	  <td><div id='creature-id'></div></td>
	</tr>

	
	<tr>
	  <td><button id='test-non-player-characters' class='btn btn-md'>Test Non Player Characters</button></td>
	  <td><button id='test-create-non-player-character' class='btn btn-md'>Test Create Non Player Character</button></td>
	  <td><button id='test-get-non-player-character' class='btn btn-md'>Test Get Non Player Character</button></td>
	  <td><button id='test-put-non-player-character' class='btn btn-md'>Test Put Non Player Character</button></td>
	  <td><button id='test-delete-non-player-character' class='btn btn-md'>Test Delete Non Player Character</button></td>
	  <td><div id='non-player-character-id'></div></td>
	</tr>

	
	<tr>
	  <td><button id='test-items' class='btn btn-md'>Test Items</button></td>
	  <td><button id='test-create-item' class='btn btn-md'>Test Create Item</button></td>
	  <td><button id='test-get-item' class='btn btn-md'>Test Get Item</button></td>
	  <td><button id='test-put-item' class='btn btn-md'>Test Put Item</button></td>
	  <td><button id='test-delete-item' class='btn btn-md'>Test Delete Item</button></td>
	  <td><div id='item-id'></div></td>
	</tr>

	
	<tr>
	  <td><button id='test-player-characters' class='btn btn-md'>Test Player Characters</button></td>
	  <td><button id='test-create-player-character' class='btn btn-md'>Test Create Player Character</button></td>
	  <td><button id='test-get-player-character' class='btn btn-md'>Test Get Player Character</button></td>
	  <td><button id='test-put-player-character' class='btn btn-md'>Test Put Player Character</button></td>
	  <td><button id='test-delete-player-character' class='btn btn-md'>Test Delete Player Character</button></td>
	  <td><div id='player-character-id'></div></td>
	</tr>

	
	<tr>
	  <td><button id='test-logs' class='btn btn-md'>Test Logs</button></td>
	  <td><button id='test-create-log' class='btn btn-md'>Test Create Log</button></td>
	  <td><button id='test-get-log' class='btn btn-md'>Test Get Log</button></td>
	  <td><button id='test-put-log' class='btn btn-md'>Test Put Log</button></td>
	  <td><button id='test-delete-log' class='btn btn-md'>Test Delete Log</button></td>
	  <td><div id='log-id'></div></td>
	</tr>


	
	<tr>
	  <td><button id='test-powers' class='btn btn-md'>Test Powers</button></td>
	  <td><button id='test-create-power' class='btn btn-md'>Test Create Power</button></td>
	  <td><button id='test-get-power' class='btn btn-md'>Test Get Power</button></td>
	  <td><button id='test-put-power' class='btn btn-md'>Test Put Power</button></td>
	  <td><button id='test-delete-power' class='btn btn-md'>Test Delete Power</button></td>
	  <td><div id='power-id'></div></td>
	</tr>

</table>




    
</body>
</html>