
  <!doctype html>
  <html>
  <head>
      <title>Logs</title>

      <link rel="stylesheet" type="text/css" media="screen" href="css/crud-logs.css" />
      <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
      <link rel="stylesheet" type="text/css" media="screen" href="css/vis.css" />
      <link rel="stylesheet" type="text/css" media="screen" href="css/jquery-ui.css" />
      <link rel="stylesheet" type="text/css" media="screen" href="css/chosen.min.css" />

      <script type="text/javascript" src="js/jquery.js"></script>
      <script type="text/javascript" src="js/jquery-ui.js"></script>
      <script type="text/javascript" src="js/chosen.jquery.js"></script>
      <script type="text/javascript" src="js/moment.js"></script>
      <script type="text/javascript" src="js/vis.js"></script>
      <script type="text/javascript" src="js/bootstrap.js"></script>
      <script type="text/javascript" src="js/inflection.js"></script>
      <script type="text/javascript" src="js/deepcopy.js"></script>
      <script type="text/javascript" src="js/socket-io.js"></script>
      <script type="text/javascript" src="js/ebot.js"></script>
      <script type="text/javascript" src="node_modules/howler/howler.js"></script>
    <script type="text/javascript" src="js/crud-logs.js"></script>

  </head>
  <body>


  <button id='log-create-button' class='btn btn-md'>New Log</button>

  <div id='log-table-wrapper'></div>

  <div id='modal-holder'></div>
      
  </body>
  </html>

  